@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'poppins', sans-serif;
}

#navbar{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}

.logo{
    font-size: 2rem;
    color: crimson;
}

li{
    padding: 5px; 
    font-size: 20px;
    border: 3px solid transparent;
}

.nav-link:hover{
    border-bottom: 3px solid purple;
    transition: 0.1s;
}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discription{
    text-align: justify;
    font-size: 1.1rem;
}

#home button:hover,
#about button:hover
{
    color: #fff;
    font-weight: bold;
    transition: 0.1s;
}

#home img{
    width: 25rem;
    height: 25rem;
    border-radius: 10px;
}



#about img{
    width: 25rem;
    height: 25rem;
    border-radius: 40px;
}

#service .discription{
    text-align: justify;
    font-size: 16px;
}

#service img{
    height: 250px;
    transition: 1s;
}

.inner{
    overflow: hidden;
}

#service img:hover{
    transform: scale(1.5);
    transition: 1s;
}

form{
    border-radius: 25px;
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
                -1px -1px 5px rgba(0, 0, 0, .05);
}

#home .row,
#about .row,
#service .row,
#contact .row{
    margin-top: 60px;
}